.comment {
  border: #4e7bcc 1px solid; /*境界線の指定*/
  height: 430px; /* 横幅を200pxに指定 */
  overflow-y: scroll; /* 縦方向にスクロール可能にする */
}
.box {
  border: #4e7bcc 1px solid; /*境界線の指定*/
}

div#main {
  background-color: #ffffff;
  width: 58%;
  float: left;
}

nav {
  background-color: #ffffff;
  width: 38%;
  float: right;
}

.heading {
  border-bottom: solid 2px;
}

input {
  border: #4e7bcc 1px solid;
  font-size: 15pt;
}

textarea {
  border: #4e7bcc 1px solid;
  width: 100%;
  font-size: 15pt;
  resize: none;
}
