body {
  background-color: #fff;
  background-image: radial-gradient(#f5f5f5 20%, transparent 20%),
    radial-gradient(#f5f5f5 20%, transparent 20%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
.comment {
  background-color: #ffffff;
  border: #4e7bcc 1px solid; /*境界線の指定*/
  height: 390px; /* 横幅を200pxに指定 */
  overflow-y: scroll; /* 縦方向にスクロール可能にする */
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}
.text {
  font-size: 2em;
  color: #fff;
  animation: flowing 10s linear infinite;
  transform: translateX(100%); /*初期位置*/
}
.box {
  border: #4e7bcc 1px solid; /*境界線の指定*/
}

div#main {
  width: 58%;
  float: left;
}

nav {
  background-color: #ffffff;
  width: 38%;
  float: right;
}

.heading {
  border-bottom: solid 2px;
}

input {
  border: #4e7bcc 1px solid;
  font-size: 15pt;
}

textarea {
  border: #4e7bcc 1px solid;
  width: 100%;
  font-size: 15pt;
  resize: none;
}
