body {
  background-color: #000;
  font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  color: #800000;
  /*
  background-color: #111;
  color: #fff;
  background-image: radial-gradient(#808080 20%, transparent 20%),
    radial-gradient(#808080 20%, transparent 20%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;*/
  /*background-color: #808080;
  color: #fff;
  background-image: linear-gradient(-90deg, #111 50%, transparent 50%),
    linear-gradient(#111 50%, transparent 50%);
  background-size: 20px 20px;*/
}
h1 {
  color: #800000;
}
.account {
  border: #000 2px solid; /*境界線の指定*/
  border-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-image: url("../static/icon.png");
  padding: 15px 15px 15px 15px;
  text-align: center;
  float: right;
}
.account:hover .word {
  display: inline;
}
.word {
  position: right;
  display: none;
  padding: 2px;
  color: aliceblue;
  border-radius: 5px;
  background-color: #800000;
  width: 100px;
  top: 50px;
  left: 0px;
  font-size: 12px;
  text-align: center;
}

.comment {
  color: #fff;
  background-color: #000;
  border: #fff 1px solid; /*境界線の指定*/
  height: 550px; /* 横幅を550pxに指定 */
  overflow-y: scroll; /* 縦方向にスクロール可能にする */
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #000;
  box-shadow: 0px 0px 0px 10px #000;
  border: dashed 2px white;
  width: 58%;
  float: left;
}

span {
  color: #ff7f50;
}

a.btn {
  display: block;
  line-height: 0.2;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 10px;
  height: 10px;
  margin: auto;
  padding: 1rem 1rem;
  font-weight: normal;
  color: #800000;
  transition: 0.5s;
  float: left;
}
a.btn:hover {
  color: #fff;
  background: #800000;
}

.text {
  font-size: 2em;
  color: #fff;
  animation: flowing 10s linear infinite;
  transform: translateX(100%); /*初期位置*/
}
.box {
  width: 38%;
  float: right;
}
nav {
  background-color: #ffffff;
}

.heading {
  color: #800000;
  border-bottom: solid 2px;
}

input {
  color: #fff;
  box-shadow: 0px 0px 0px 5px #000;
  border: dashed 2px white;
  background-color: #000;
  font-size: 15pt;
}

textarea {
  color: #fff;
  box-shadow: 0px 0px 0px 5px #000;
  border: dashed 2px white;
  background-color: #000;
  width: 100%;
  height: 350px;
  font-size: 15pt;
  resize: none;
}
