<!DOCTYPE html>
<!--HTMLを記述する上で必須となる前置き-->
<html>

  <!--HTMLの文書の起点を表す記述-->
  <head>
    <!--ページ上には表示されない裏側の設定を記述するエリア-->
    <meta charset="utf-8" />
    <!--文字エンコードの指定。簡単に言うと文字化けを防ぐための記述-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--ページを様々な画面幅のデバイスでの表示に適応させるための記述-->
    <title>掲示板</title>
    <link rel="stylesheet" href="../static/index.css">
    <!--ページタイトルを指定するための記述-->
  </head>
  <body>
    <!--ページ上に実際に表示される要素を記述するエリア-->
    <h1>AIT 14号館</h1>
    <h1 class="heading">スレッド名</h1>
    <div id="main">
        <div class="comment">
            <!--<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>-->
            {% for elem in indexs%}
            <div class="elem" id="elem{{indexs["id"]}}">
            <span>{{elem["スレッド名"]}}</span> : {{elem["投稿時間"]}}
            <br>
            {{elem["内容"]}}
            </div>
            <br>
            {%endfor%}
        </div>
        <!--<form action="/thread" method="POST">
        <p>
                <h2 class="heading">コメント入力</h2>
            <input type="text" name="user_name" maxlength="10" placeholder="氏名"/>
        </br>
        <textarea name="content" maxlength="100" placeholder="コメント"></textarea>
        </br>
        <input class="button" type="submit" value="送信"  />
        <div class="button">
          <a href="#">送信</a>
        </div>
        </p>
        </div>
      </form>-->

    <nav>
        <div class="box">
          <form method="get" action="#" class="search_container">
            <input type="text" size="25" placeholder="　スレッド検索">
            <input type="submit" value="検索">
          </form>
          
          <p>〜注意書き〜</br>
          この掲示板はAIT在学生のための掲示板です。</br>
        個人が特定できる情報の記載や、</br>
      公序良俗に反する行為はやめましょう。</p>
          <form action="/thread" method="POST">
            <p>
                    <h2 class="heading">新規スレッド作成</h2>
                <input type="text" name="user_name" maxlength="10" placeholder="氏名"/>
            </br>
            <textarea name="content" maxlength="100" placeholder="内容"></textarea>
            </br>
            <!--<input class="button" type="submit" value="送信"  />-->
            <div class="button">
              <a href="#">送信</a>
            </div>
            </p>
            </div>
          </form>
            <!--<p>注意書き</p>-->
        </div>
    </nav>
  </body>
</html>
