<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rakus</title>
    
    <link rel="stylesheet" href="../static/login.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<header>
    <h1>Hello AIT!</h1>
</header>

<body>
    <h2>ログイン</h2>

    <div class="container-fluid">
        <form action="/login" method="POST">
            <div class="form-group">
            <label>学籍番号</label>
            <input type="text" class="col-3" id="student_id" placeholder="学籍番号">
            </div>
            <div class="form-group">
            <label>パスワード</label>
            <input type="password" class="col-3" id="password" placeholder="パスワード">
            </div>
            <button type="submit" class="btn btn-primary" id="send">送信</button>

            <button type="submit" class="btn btn-primary" id="move">新規登録はこちら</button>

            
            <!-- <div class="elem_area"> -->
                <!-- <p>{{message}}</p> -->
                {% if message %}
                <p>{{message}}</p>
                {% elif message %}
                <p>{{message}}</p>
                {% endif %}
            <!-- </div> -->
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>