<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ログイン</title>
    
    <link rel="stylesheet" href="../static/login.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>AIT 14号館</h1>
    <h2>ログイン画面</h2>

    <div class="container-fluid">
        <form action="/login" method="POST">
            <div class="box">
                <div class="form-group">
                    <div class="box-title">学籍番号</div>
                    <input type="text" class="col-3" name="student_id" id="student_id" placeholder="学籍番号">
                </div>
                <div class="form-group">
                    <div class="box-title">パスワード</div>
                    <input type="password" class="col-3" name="password" id="password" placeholder="パスワード">
                </div>
                <button type="submit" class="btn btn-primarybtn btn--login btn--emboss btn--cubic" id="send">ログイン</button>
                

                
                <!-- <div class="elem_area"> -->
                    <!-- <p>{{message}}</p> -->
                    {% if message %}
                    <p>{{message}}</p>
                    {% elif message %}
                    <p>{{message}}</p>
                    {% endif %}
                <!-- </div> -->

                <button type="button"  class="btn btn-primarybtn btn--signup" id="move" onclick="move_signup()">新規登録はこちら</button>

            </div>
                
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        function move_signup() {
            document.location.href="/signup"
        }
    </script>
</body>
</html>