<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if message %}
    <div>{{message}}</div>
    {% endif %}
    <form action="/mail_authorize" name="mail_authorize" method="POST">
        <input type="text" name="authorize_num" ,maxlength="4" minlength="4">
        <input type="hidden" name="student_id" ,maxlength="4" minlength="4", value={{student_id}}>
        <button type="submit">送信</button>
    </form>

</body>
</html>