<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rakus</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Hello AIT!</h1>
    <h2>新規登録</h2>

    <div class="container-fluid">
        <form>
            <div class="form-group">
            <label>Email</label>
            <input type="email" class="col-3" placeholder="Email">
            </div>
            <div class="form-group">
            <label>Password</label>
            <input type="password" class="col-3" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" id="send">送信</button>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>