<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>新規登録</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Hello AIT!</h1>
    <h2>新規登録</h2>

    <div class="container-fluid">
        <form action="/signup" method="POST">
            <div class="form-group">
            <label>ユーザー名</label>
            <input type="text" class="col-3" id="user_name" placeholder="ユーザー名" value="{{completed['user_name']}}">
            </div>
            <div class="form-group">
            <label>学籍番号</label>
            <input type="text" class="col-3" id="student_id" placeholder="学籍番号">
            </div>
            <div class="form-group">
            <label>パスワード</label>
            <input type="password" class="col-3" id="password" placeholder="パスワード" value="{{completed['password']}}">
            </div>
            <button type="submit" class="btn btn-primary" id="send">送信</button>


            <div class="err_message">
                
                    {% if message[0] %}
                    <p>{{message[0]}}</p>
                    {% endif %}

                    {% if message[1] %}
                    <p>{{message[1]}}</p>
                    {% endif %}

                    <!-- <p>{{completed}}</p> -->
            </div>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>