<!DOCTYPE html>
<!--HTMLを記述する上で必須となる前置き-->
<html>
  <!--HTMLの文書の起点を表す記述-->
  <head>
    <!--ページ上には表示されない裏側の設定を記述するエリア-->
    <meta charset="utf-8" />
    <!--文字エンコードの指定。簡単に言うと文字化けを防ぐための記述-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--ページを様々な画面幅のデバイスでの表示に適応させるための記述-->
    <title>AIT 14号館</title>
    <link rel="stylesheet" href="../static/index2.css">
    <!--ページタイトルを指定するための記述-->
  </head>
  <body>
    <!--ページ上に実際に表示される要素を記述するエリア-->
    <h1>AIT 14号館
      <a href="#" class="account"></a>
    </h1>
    <h1 class="heading">スレッド名</h1>
    <div id="main">
        <div class="comment">
            <!--<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>-->
            {% for elem in comments%}
            <div class="elem" id="elem{{comments["id"]}}">
            <span>{{elem["ユーザ名"]}}</span> : {{elem["投稿時間"]}}
            <br>
            {{elem["コメント"]}}
            </div>
            <br>
            {%endfor%}
            <a href="" class="btn">戻る</a>
        </div>

    <nav>
        <div class="box">
          <form action="/thread" method="POST">
            <p>
              <h2 class="heading">コメント入力</h2>
              <input type="text" name="user_name" maxlength="10" placeholder="氏名"/>
            </br>
            <textarea name="content" maxlength="100" placeholder="コメント"></textarea>
            </br>
            <input class="button" type="submit" value="送信"  />
            </p>
            </div>
          </form>
        </div>
    </nav>
  </body>
</html>
